<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image mentor-signup"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Sign Up as Mentor</h3>



              <form class="form-signin" action="/signup-mentor" method="POST">

                <div class="form-label-group">
                  <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username"
                    required autofocus>
                  <label for="inputUserame">Username</label>
                </div>

                {{!-- <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div> --}}

                <hr>

                <div class="form-label-group">
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                    required>
                  <label for="inputPassword">Password</label>
                </div>
                <hr>

                <div class="form-label-group">
                  <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required
                    autofocus>
                  <label for="inputName">Name</label>
                </div>
                <hr>

                <div class="form-label-group">
                  <input name="surname" type="text" id="inputSurname" class="form-control" placeholder="Surname"
                    required autofocus>
                  <label for="inputSurname">Surname</label>
                </div>
                <hr>

                {{!-- <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div> --}}

                {{!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button> --}}

                <button class=" rounded-0 btn btn-lg btn-primary btn-block text-uppercase signup"
                  type="submit">Register</button>
                <hr>
                <a class="d-block text-center mt-4 small" href=auth/linkedin>Login With linked</a> <a
                  class="d-block text-center mt-2 small" href="/login">Sign In</a>


                {{!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                  class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                  class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button> --}}
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>