<h2>Personal Information Mentee</h2>

<form action="/signup-mentee" method="post">

    <label for="age">Age</label>
    <input id="age" type="number" name="age" placeholder="25">
    <br><br>
    <label for="location">Country</label>
    <input id="country" type="text" name="country" placeholder="Germany">
    <br><br>
    <label for="city">City</label>
    <input id="city" type="text" name="city" placeholder="Berlin">
    <br><br>
    <label for="occupation">Professional Field</label> <!-- Check out the drop-down function-->
    <input id="occupation" type="text" name="occupation" placeholder="Product Management">
    <br><br>


</form>