<div class="container">

  <div class="navbar">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:white" id=" mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Women Of Tomorrow</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup-mentee">Mentee Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup-mentor">Mentor Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

  </div>




  <div class='container'>
    <div>
      <h1 class='d-flex justify-content-center'>WOMEN OF TOMORROW</h1>
    </div>
    <br>
    <br>
    <div>
      <h5 class='d-flex justify-content-center'>
        We help women elevate women in Tech.
      </h5>
    </div>
  </div>

  <div class="d-flex justify-content-around align-items-center" id="padding">

    '
    <div class='border border-dark index-pic hover'> <img src="images/mentee3.jpg"
        alt="asian woman with dark lipstick, tattoos and glasses"></div>
    <div>
      <br>
      <p class=" index-info border border-dark hover">
        A safe space to grow, nurture, excel, and transform into a digital career - from any walk of life. <br> <br>
        Find your mentor.
        Find your mentee.
        Grow with your community.
        Bridge that gender gap. Created by women for women.

      </p>
    </div>

  </div>


  <h3 class='d-flex justify-content-center ' id="padding">Join The Community</h3>

  <h4 class='d-flex justify-content-center'>The Way It Works:</h4>
  <span class='d-flex justify-content-center index-how-it-works' id="padding">

    This is a platform where women support women to transition their careers in tech. As a Mentor you will be supporting
    1-2 Mentees in your field and will be able to share your expertise and excellence. <br>
    As a Mentee you will receive the
    support from a chosen Mentor, in order to further you into transition and provide guidance in challenging times.

  </span>

  <div class='d-flex justify-content-around signup' id="padding">


    <span class=" index-info border border-dark hover-m">
      <h5>The Mentors</h5>
      They have been there - transitioning, climbing the ladder, facing their fears and challenges of the industry.
      They
      will meet you in the middle. They are here to show you your own capabilities and support you in your journey of
      career transition and transformation. They lead by example. You’ll find them in the fields of UX/UI, Web Dev,
      Data
      Science, and Product Management.
    </span>




    <span class=" index-info border border-dark hover-m">

      <h5>The Mentees</h5>
      The seekers for more, forever growing and evolving. Brave to change their horses midstream. Brave to shake their
      lives up and challenge the way things are done. Ready to dilute the solidified status quo and enter the new
      phase
      of their careers in tech. Ready to join thousands of women, representing the other half of population and their
      best interests.

    </span>



  </div>








  <div class="signup d-flex justify-content-around">
    <div>
      <a href="/signup-mentor"> <button class="btn btn-lg active text-uppercase hover border border-dark rounded-0">
          Sign
          Up as
          Mentor</button> </a>
    </div>

    <div>
      <a href="/signup-mentee"> <button class="btn btn-lg active text-uppercase hover border border-dark rounded-0">
          Sign
          Up as
          Mentee</button> </a>
    </div>


  </div>






  <div class='foot' id="padding">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">

              {{!-- should display twitter and github logos with links --}}

              <p class="copyright text-muted">Copyright © Women Of Tomorrow 2020</p>
              <a href="https://humanetech.com/wp-content/uploads/2019/04/humane_design_worksheet.pdf">Built
                With Humane Tech Tools</a>
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>