{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


Hello! Start Here:


<p class="account-message">
  Sign Up as Mentor
  <a href="/signup-mentor">Sign Up!</a>
</p>

<p class="account-message">
  Sign Up as Mentee
  <a href="/signup-mentee">Sign Up!</a>
</p>



<p class="account-message">
  Have an account?
  <a href="/login">Log in!</a>
</p>

Design: Beautiful page for introduction